<div class="order-form-header">Profile info:</div>
			<form action="/profile" class="order-form" method="post">
			 <input type="text" name="gender" placeholder="gender">
			 <br>
			 <input type="text" name="class" placeholder="class">
			 <br>
			 <input type="text" name="race" placeholder="race">
			 <br>
			 <input type="text" name="affiliation" placeholder="affiliation">
			 <br>
			 <input type="text" name="home_state" placeholder="home state">
			 <br>
			
			 <input type="image" value="Submit" src="/assets/submit.jpg">
			</form>